<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
    <footer>
        <div class="footer-main-container" >
            <div class="footer-container">
                <div class="footer-first-link-container"><a class="footer-first-link" href="#">FIND A STORE</a></div>
                <div class="footer-first-link-container"><a class="footer-first-link" href="#">OUR JOURNAL</a></div>
                <div class="footer-first-link-container"><a class="footer-first-link" href="#">BECAME A MEMBER</a></div>
                <div class="footer-first-link-container"><a class="footer-first-link" href="#">FEEDBACK</a></div>
                <div class="footer-first-link-container"><a class="footer-first-link" href="#">PROMO CODES</a></div>
            </div>
            <div class="footer-container">
                <div class="footer-first-link-container"><a class="footer-first-link" href="#">GET HELP</a></div>
                <div class="footer-second-link-container"><a class="footer-second-link" href="#">Order status</a></div>
                <div class="footer-second-link-container"><a class="footer-second-link" href="#">Shipping and delivery</a></div>
                <div class="footer-second-link-container"><a class="footer-second-link" href="#">Returns</a></div>
                <div class="footer-second-link-container"><a class="footer-second-link" href="#">Contact us</a></div>
            </div>
            <div class="footer-container">
                <div class="footer-first-link-container"><a class="footer-first-link" href="#">ABOUT SNEAKER STORE</a></div>
                <div class="footer-second-link-container"><a class="footer-second-link" href="#">News</a></div>
                <div class="footer-second-link-container"><a class="footer-second-link" href="#">Careers</a></div>
                <div class="footer-second-link-container"><a class="footer-second-link" href="#">Investors</a></div>
                <div class="footer-second-link-container"><a class="footer-second-link" href="#">Sustainability</a></div>
            </div>
            <div class="footer-container">
                <div class="footer-first-link-container"><a class="footer-first-link" href="#">JOIN US</a></div>
                <div class="footer-second-link-container"><a class="footer-second-link" href="#">Sneakers app</a></div>
                <div class="footer-second-link-container"><a class="footer-second-link" href="#">Run club</a></div>
                <div class="footer-second-link-container"><a class="footer-second-link" href="#">Training club</a></div>
                <div class="footer-second-link-container"><a class="footer-second-link" href="#">SNKRS</a></div>
            </div>
            <div class="footer-icons-container">
            </div>
        </div>
        <p>© SNEAKER STORE 2023</p>
    </footer>
</body>
</html>