<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
  <header>
    <div class="header-div" id="header-id">
      <div class="header-text-div">
        <a class="header-title-link" href="http://localhost:8083/main">
          SNEAKER STORE
        </a>
      </div>
      <div class="navigate-div">
        <nav>
          <ul class="navigate-ul">
            <li class="navigate-li"><a class="navigate-text" href="http://localhost:8083/sneakers/men">Men</a></li>
            <li class="navigate-li"><a class="navigate-text" href="http://localhost:8083/sneakers/women">Women</a></li>
            <li class="navigate-li"><a class="navigate-text" href="http://localhost:8083/sneakers">Shop</a></li>
            <li class="navigate-li"><a class="navigate-text" href="http://localhost:8083/sneakers/discount">Sale</a></li>
          </ul>
        </nav>
      </div>
      <div th:if="${session.user_role == 'ROLE_ADMIN'}" class="admin-link-div">
        <a class="signin-link" href="http://localhost:8083/admin/menu" id="adminLink">
          Admin menu
        </a>
      </div>
      <div th:if="${session.username}" th:text="${session.username}" class="username_div">
        <h1 class="username_text"></h1>
      </div>
      <div th:if="${session.username == null}" class="signin-div" id="myDiv">
        <a class="signin-link" href="http://localhost:8083/login" id="SignInLink">
          Sign in
        </a>
      </div>
      <div th:if="${session.username == null}" class="signup-div">
        <a class="signup-link" href="http://localhost:8083/registration" id="SignUpLink">
          Sign up
        </a>
      </div>
      <div th:if="${session.username}" class="signup-div">
        <a class="signup-link" href="http://localhost:8083/logout" id="Logout">
          Logout
        </a>
      </div>
      <div class="bag-link-div">
        <a class="bag-link" href="http://localhost:8083/bag">
          <img class="bag-link-img" src="/img/free-icon-tote-bag-8516252.png">
        </a>
      </div>
    </div>
  </header>
</body>
</html>