div {
   /* border: black 1px solid;*/
}

.product-container {
    width: 1700px;
    height: auto;

    margin: auto;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.product-img-container {
    width: 1100px;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.product-img-div {
    width: 500px;
    height: 500px;
}

.product-information-container {
    height: auto;
    width: 500px;

   /* border: solid black 1px;*/
}

.sizes-links-container {
    width: 370px;
    height: 400px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-left: 0;

    /*border: solid black 1px;*/
}

.product-information {
    width: 370px;
    height: 200px;

    /*border: solid black 1px;*/
}

.product-name {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.007em;
    font-size: 28px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.product-gender {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.007em;
    font-size: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.product-price-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.product-price {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.007em;
    font-size: 24px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*.radio-form {
    width: 180px;
    height: 60px;
    !* margin-top: 20px;*!

    text-align: center;
    line-height: 60px;

    border-radius: 4px;

    background: rgb(255, 255, 255);
    color: rgb(17, 17, 17);
    box-shadow: rgb(229, 229, 229) 0px 0px 0px 1px;
}*/

/*.radio-div : focus {
    display: block;
    background-color: black;
}*/

.buttons {
    width: 380px;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

    border-radius: 3px;
    position: relative;
}

.buttons input {
    width: 180px;
    height: 60px;

    line-height: 60px;

    appearance: none;
    cursor: pointer;
    border-radius: 2px;
    background: white;
    color: black;
    box-shadow: rgb(229, 229, 229) 0px 0px 0px 1px;
    font-size: 20px;
    font-family: sans-serif;
    transition: all 0.1s;
}

.buttons label {
    text-align: center;
}

.buttons input:checked {
   border: black solid 1px;
}

.buttons input:hover {
    border: black solid 1px;
}

.input-size {
    width: 380px;
    height: 80px;

    margin-top: 40px;

    border-radius: 10px;
    border: black solid 1px;
    background-color: rgb(17, 17, 17);
    color: white;
    font-size: 22px;
}

.input-size:hover {
    opacity: 70%;
    cursor: pointer;
}

.buttons input::before {
    content: attr(label);
    text-align: center;
    margin-left: 65px;
}


.sizes-links-div {
    width: 180px;
    height: 60px;
   /* margin-top: 20px;*/

    text-align: center;
    line-height: 60px;

    border-radius: 4px;
   /* border: black solid 1px;*/
}

.bar-disable {
    opacity: 60%;
}

.bar-disable:hover{
    border: none;
}



