/* Global */

div {
    /*border: black solid 1px;*/
}

/* Product header */
.product-header-div {
    height: 5rem;
    display: flex;
}

.products-main-div {
    height: auto;
    display: flex;
    flex-direction: row;
}

.product-header-title-div {
    height: 100%;
    width: 17rem;
}

.photo-cell {
    width: 33.33%;
    text-align: center;
}

/* Main */
.scroller {
    height: 30rem;
    width: 20rem;
}

.products-div {
    height: auto;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.products-container {
    height: 600px;
    width: 400px;
    /* можно задать другую ширину для каждого элемента */
    box-sizing: border-box;
    /* чтобы размер элемента включал границы и отступы */
    margin: 4rem 4rem;
    /* убираем отступы между элементами */

    display: flex;
    flex-direction: column;
}

.img-container {
    height: 500px;
    width: 500px;
    /*border: 1px black solid;*/
}

.product-img {
    max-width: 500px;
    max-height: 500px;
}

.product-description-container {
    width: 400px;
    height: 100px;

    position: relative;
    z-index: 1;
}

.product-card-name {
    margin-top: 10px;

    font-size: 23px;
    font-weight: 500;
    color: black;
}

.product-card-gender {
    margin-top: 1px;

    font-size: 25px;
    font-weight: 500;
    color: black;

    opacity: 70%;
}

.product-card-price {
    margin-top: 1px;

    font-size: 25px;
    font-weight: 500;
    color: black;
}

.price-discount-div {
    width: 250px;
    display: flex;
    flex-direction: row;
}

.product-card-price-discount-new {
    align-items: start;

    font-size: 25px;
    font-weight: 500;
    color: black;
}

.product-card-price-discount-old {
    margin-left: 15px;

    font-size: 25px;
    font-weight: 500;
    color: black;
    opacity: 70%;
    text-decoration: line-through;
}

.product-link {
    position: absolute;
    height: 500px;
    width: 400px;

    /*border: black solid 1px;*/
    z-index: 2;
}
