<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet" href="/css/mainPage.css" type="text/css">
    <link rel="stylesheet" href="../static/css/mainPage.css" type="text/css">

    <link rel="stylesheet" href="/css/products.css" type="text/css">
    <link rel="stylesheet" href="../static/css/products.css" type="text/css">

    <link rel="stylesheet" href="/css/adminPage.css" type="text/css">
    <link rel="stylesheet" href="../static/css/adminPage.css" type="text/css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div>
    <div class="admin-links-container">
        <div class="add-product-link-div">
            <a class="admin-link" href="http://localhost:8083/addProducts">
                Add product
            </a>
        </div>
        <div class="add-product-link-div">
            <a class="admin-link" href="#">
                Delete product
            </a>
            <div>
                <form action="http://localhost:8083/sneakers/delete" method="post" enctype="multipart/form-data" >
                    <label for="deleteForm">Input product Id</label>
                    <input class="input-form" type="text" name="sneakerId" id="deleteForm" required>
                    <br>
                    <input type="submit" value="Submit">
                </form>
                <p th:text="${deleteResult}"></p>
            </div>
        </div>
        <div class="add-product-link-div">
            <a class="admin-link" href="#">
                Edit product
            </a>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Price</th>
                <th>Discount</th>
                <th>37</th>
                <th>38</th>
                <th>39</th>
                <th>40</th>
                <th>41</th>
                <th>42</th>
                <th>43</th>
                <th>44</th>
                <th>45</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="sneaker : ${sneakers}">
                <td th:text="${sneaker.id}"></td>
                <td th:text="${sneaker.name}"></td>
                <td th:text="${sneaker.gender}"></td>
                <td th:text="${sneaker.price}"></td>
                <td th:text="${sneaker.discount}"></td>
                <td th:text="${sneaker.sizes.size37}"></td>
                <td th:text="${sneaker.sizes.size38}"></td>
                <td th:text="${sneaker.sizes.size39}"></td>
                <td th:text="${sneaker.sizes.size40}"></td>
                <td th:text="${sneaker.sizes.size41}"></td>
                <td th:text="${sneaker.sizes.size42}"></td>
                <td th:text="${sneaker.sizes.size43}"></td>
                <td th:text="${sneaker.sizes.size44}"></td>
                <td th:text="${sneaker.sizes.size45}"></td>
                <td th:text="${sneaker.createDate}"></td>
            </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>