<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet" href="/css/mainPage.css" type="text/css">
    <link rel="stylesheet" href="../static/css/mainPage.css" type="text/css">

    <link rel="stylesheet" href="/css/products.css" type="text/css">
    <link rel="stylesheet" href="../static/css/products.css" type="text/css">

    <link rel="stylesheet" href="/css/adminPage.css" type="text/css">
    <link rel="stylesheet" href="../static/css/adminPage.css" type="text/css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div>
    <div class="product-header-div">
        <div class="product-header-title-div">

        </div>
        <div class="product-header-filters-div">
            <a href="http://localhost:8083/addProducts">
                Add product
            </a>
        </div>
    </div>
    <<div class="container">
        <h1>Catalog</h1>
        <div class="items">

<!--        <div class="pagination">-->
<!--            <a th:href="@{/catalog?page=${page - 1}}" th:if="${page > 0}">&lt;&lt; Previous</a>-->
<!--            <a th:href="@{/catalog?page=${page + 1}}" th:if="${not #lists.isEmpty(items)}">Next &gt;&gt;</a>-->
<!--        </div>-->
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>