<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/mainPage.css" type="text/css">
    <link rel="stylesheet" href="../static/css/mainPage.css" type="text/css">

    <link rel="stylesheet" href="/css/products.css" type="text/css">
    <link rel="stylesheet" href="../static/css/products.css" type="text/css">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div>
        <div class="product-header-div">
            <div class="product-header-title-div">

            </div>
        </div>
        <div class="products-main-div">
            <div class="scroller">
            </div>
            <div class="products-div">
                <div class="products-container" th:each="sneaker : ${sneakers}">
                       <div class="img-container">
                           <img  class="product-img" th:src="@{${'/api/images/' + sneaker.id}}", th:alt="${'/api/images/' + sneaker.id}">
                       </div>
                        <div class="product-description-container">
                            <p class="product-card-name" th:text="${sneaker.name}"></p>
                            <p class="product-card-gender" th:text="${sneaker.gender}"></p>
                            <div class="price-discount-div">
                                <p class="product-card-price" th:if="${sneaker.discount == 0}" th:text="${ 'USD ' + sneaker.price}"></p>
                                <div class="products-price-discount-div">
                                    <p class="product-card-price-discount-new" th:if="${sneaker.discount > 0}" th:text="'USD ' + ${sneaker.price * (100 - sneaker.discount) / 100}"></p>
                                    <p class="product-card-price-discount-old" th:if="${sneaker.discount > 0}" th:text="${ 'USD ' + sneaker.price}"></p>
                                </div>
                            </div>
                        </div>
                        <a class="product-link" th:href="@{http://26.152.97.167:8083/product/{id}(id=${sneaker.id})}"> </a>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>